h1 {
    text-align: center;
}

.button {
    text-align: center;
    background-color: aqua;
    height: 40px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 20px;

    
}

.btn {
    margin-left: 40%;
}
.button:hover {
    background-color: brown;

}